.App {
  text-align: center;
  background-color: #4E0250;
  color: whitesmoke;
}

.app-name {
  color: whitesmoke;
}

.blueButton{
  background-color: #9FC5F8;
  color: black;
  margin: 30px 20px 0px 20px;
  width: 100px;
}

.nav-bar {
  margin: 10px;
}

.nav-item {
  margin: 10px;
}

