h2 {
    color: whitesmoke;
}
.main-container {
    background-color: #CC978E;
    color: whitesmoke;
    border: white 2px;
    border-radius: 10px;
    width: 700px;
    margin-left: 350px;
}

.chirp-container {
    text-align: left;
    margin-left: 70px;
}

.creator {
    padding-top: 10px;
}

.delete {
    float: right;
}